<mat-toolbar class="custom-toolbar" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="verificar()">
      <div  fxLayout="row" fxLayoutGap="10px">
        <button mat-button [routerLink]="['/homes']" style="color: white">
          <mat-icon>home</mat-icon>Home
        </button>
    <button mat-button [matMenuTriggerFor]="menuUsuario" style="color: white"  *ngIf="isDeveloper()">
      <mat-icon>group</mat-icon>
      Usuario
    </button>
    <button mat-button [matMenuTriggerFor]="menuRol" style="color: white" *ngIf="isDeveloper()">
      <mat-icon>security</mat-icon>
      Rol
    </button>
    <button mat-button [matMenuTriggerFor]="menueventos" style="color: white" *ngIf="isDeveloper()">
      <mat-icon>event</mat-icon>
      Eventos
    </button>
    <button mat-button [matMenuTriggerFor]="menuforos" style="color: white">
      <mat-icon>speaker_notes</mat-icon>
      Foros
    </button>
    <button mat-button [matMenuTriggerFor]="menumensajesforos" style="color: white">
      <mat-icon>subject</mat-icon>
      Mensajes de Foros
    </button>
    <button mat-button [matMenuTriggerFor]="menurutina" style="color: white">
      <mat-icon>accessibility_new</mat-icon>
      Rutinas
    </button>
    <button mat-button [matMenuTriggerFor]="menuejerciciorutina" style="color: white">
      <mat-icon>folder_shared</mat-icon>
      Ejercicios de Rutinas
    </button>
    <button mat-button [matMenuTriggerFor]="menuemergencia" style="color: white">
      <mat-icon>folder_shared</mat-icon>
      Emergencia
    </button>
    <button mat-button [matMenuTriggerFor]="menutecnicarelajacion" style="color: white">
      <mat-icon>folder_shared</mat-icon>
      Tecnicas de relajacion
    </button>
    <button mat-button [matMenuTriggerFor]="menuPlanes" style="color: white">
      <mat-icon>event</mat-icon>
      Planes de Membresía
    </button>
    <button mat-button [matMenuTriggerFor]="menuMetodo" style="color: white">
      <mat-icon>account_balance_wallet</mat-icon>
      Metodos de Pago
    </button>
    <button mat-button [matMenuTriggerFor]="menuSus" style="color: white">
      <mat-icon>euro_symbol</mat-icon>
      Suscripciones
    </button>
    <button mat-button style="color: white" routerLink="/gatos">
      <mat-icon>pet</mat-icon>
      Gatos
    </button>
    <button mat-button [matMenuTriggerFor]="menuReportes" style="color: white">
      <mat-icon>book</mat-icon>Reportes
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/rol">Listar</button>
  <button mat-menu-item routerLink="/rol/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menueventos="matMenu">
  <button mat-menu-item routerLink="/eventos">Listar</button>
  <button mat-menu-item routerLink="/eventos/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuforos="matMenu">
  <button mat-menu-item routerLink="/foross">Listar</button>
  <button mat-menu-item routerLink="/foross/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menumensajesforos="matMenu">
  <button mat-menu-item routerLink="/mensajeforos">Listar</button>
  <button mat-menu-item routerLink="/mensajeforos/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menurutina="matMenu">
  <button mat-menu-item routerLink="/rutina">Listar</button>
  <button mat-menu-item routerLink="/rutina/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuejerciciorutina="matMenu">
  <button mat-menu-item routerLink="/ejerciciorutinas">Listar</button>
  <button mat-menu-item routerLink="/ejerciciorutinas/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuemergencia="matMenu">
  <button mat-menu-item routerLink="/emergencias">Listar</button>
  <button mat-menu-item routerLink="/emergencias/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menutecnicarelajacion="matMenu">
  <button mat-menu-item routerLink="/tecnicasrelajacion">Listar</button>
  <button mat-menu-item routerLink="/tecnicasrelajacion/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuPlanes="matMenu">
  <button mat-menu-item routerLink="/planes"><mat-icon>assignment</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/planes/nuevo"><mat-icon>person_add</mat-icon>Registrar</button>
</mat-menu>
<mat-menu #menuMetodo="matMenu">
  <button mat-menu-item routerLink="/metodos"><mat-icon>assignment</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/metodos/nuevo"><mat-icon>credit_card</mat-icon>Registrar</button>
</mat-menu>
<mat-menu #menuSus="matMenu">
  <button mat-menu-item routerLink="/suscripciones"><mat-icon>assignment</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/suscripciones/nuevo"><mat-icon>person_add</mat-icon>Registrar</button>
</mat-menu>
<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes">
    <mat-icon> pie_chart</mat-icon>
    Cantidad
  </button>
  <button mat-menu-item routerLink="/reportes/suscripciones">
    <mat-icon> bar_chart</mat-icon>Sumas
  </button>
  <button mat-menu-item routerLink="/reportes/Forosporusuario">
    <mat-icon>calendar_view_day</mat-icon>Foros
  </button>
  <button mat-menu-item routerLink="/reportes/Mensajeporforo">
    <mat-icon>receipt</mat-icon>Mensajes
  </button>
</mat-menu>
<router-outlet></router-outlet>
