<mat-toolbar class="custom-toolbar">
  <mat-icon>menu</mat-icon>
  <div>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Usuario
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Usuario-Rutina
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Rutina
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Ejercicio-Rutina
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Suscripciones
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Tecnicas-Relajacion
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Planes
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Metodo-Pago
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Foros
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Mensaje-Foros
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Eventos
    </button>
    <button mat-button [matMenuTriggerFor]="menuRelaxup" style="color: white">
      Emergencia
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuRelaxup="matMenu">
  <button mat-menu-item routerLink="/relaxup">Listar</button>
  <button mat-menu-item routerLink="/relaxup/nuevo">Registrar</button>
</mat-menu>


<div style="margin-top: 64px;"> <!-- Espacio para el contenido -->
  <router-outlet></router-outlet>
</div>
